{
  "name": "YOUR_WORKER_NAME",
  "main": "src/index.js",
  "compatibility_date": "2026-05-13",
  "observability": {
    "enabled": true
  },
  "d1_databases": [
    {
      "binding": "DB",
      "database_name": "prq-leaderboard",
      "database_id": "YOUR_DATABASE_ID"
    }
  ]
}

